@import '../../../../shared/variables.scss';

.price {
  font-size: 18px;
  color: $green;
  font-weight: 400;
}

.product-border {
  border: 1px solid #f0f0f0;
}

.text {
  .product-name{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    height:66px;
  }
}

img {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.img-holder{
  height: 180px;
}

.icon{
  font-size: 18px;
  line-height: 1.8;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $green;
  color: white;
  &:hover{
      background-color:$lightgreen;
      cursor: pointer;
  }
}