
  <h2 mat-dialog-title>Zgłoś problem</h2>
  <div mat-dialog-content class="container pt-3 pt-md-5">
    <div>
      <div class="col-12 text-center d-flex flex-column mt-2 mt-md-4">
        <span class="code-text"
          >Treśc uwagi do zamówienia:</span
        >
        <textarea
          [(ngModel)]="problemDescription"
          name="problem"
          class="code-input my-4"
          type="text"
        >
        </textarea>
      </div>
    </div>
  </div>

  <div mat-dialog-actions class="mt-2 d-flex justify-content-center">
      <app-icon-btn class="p-2" [type]="'button'" [icon]="'arrow_left'" (click)="onReturnClick()"
      >Powrót</app-icon-btn
      >
    <app-icon-btn class="p-2" [type]="'submit'" [icon]="'warning'" (click)="onSendClick()"
      >Wyślij</app-icon-btn
    >
  </div>


