@import '../../../shared/variables.scss';

mat-form-field {
    width: 100%;
}
.register-form{
    width:250px;
}
.form-header{
text-transform: uppercase;
text-align: center;
font-weight: 400;
}
.btn-submit-form {
    background-color: $green;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    &:hover{
        background-color: $lightgreen;
        cursor: pointer;
    }
}

hr{
    background-color:$red;
}

.loader-container {
    img {
        height:30px;
    }
}
.error-container {
    width: 100%;
    padding: 0;

    span {
        color: #f44336;
        font-size: 11px;
        font-weight: 400;
    }
}