<app-banner [height]="'86vh'">
  <app-modal-window>
      <form class="register-form">
          <h3 class="form-header">Zarejestruj się</h3>
          <hr />
        <mat-form-field>
          <input matInput placeholder="Imię">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Nazwisko" >
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Numer telefonu" >
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" >
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Hasło" >
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Data urodzenia" >
        </mat-form-field>
        <button
                type="submit"
                class="p-4 btn-submit-form btn-block mt-3"
            >
                <!-- <div
                    class="three-dots-loading-container row align-items-center justify-content-center"
                    *ngIf="(componentState$ | async).isLoading"
                >
                    <img src="/assets/three-dots.svg" />
                </div> -->

                <span class="submit-text" >
                    Zarejestruj
                </span>
            </button>
    </form>
  </app-modal-window>
</app-banner>