th.mat-header-cell {
  text-align: center !important;
}

td.mat-cell {
  text-align: center !important;
}

.delete-icon {
  &:hover {
    color: red;
    cursor: pointer;
  }
}

.no-items-text{
  margin:0 auto;
  font-size:20px;
}

.preview-icon {
  &:hover {
    color: #0080ff;
    cursor: pointer;
  }
}