<div class="row">
  <div class="col-12 col-md-6 ">
    <app-banner
      [height]="'calc(100vh - 140px)'"
      [imageUrl]="'assets/images/bg_2.jpg'"
    >
      <div class="col-md-12 text-center contact-image-text">
        <h1 class="mb-2">
          <strong> Pytania, problemy, sugestie ?</strong>
        </h1>
        <!-- <h2 class="mb-4">
          Pytania, problemy, sugestie ?
        </h2> -->
        <h2 style="font-weight: 200">
          Skontaktuj się z nami
        </h2>
      </div>
    </app-banner>
  </div>
  <div class="col-12 col-md-6 second-col d-flex justify-content-center">
    <div class="row justify-content-center align-items-center">
      <div>
        <div class="col-12">
          <p class="d-flex align-items-center">
            <i class="material-icons"> room </i><strong>Adres</strong>
          </p>
          <p>ul.Zmyślona 123, 38-800 Kraków</p>
        </div>
        <div class="col-12">
          <p class="d-flex align-items-center">
            <i class="material-icons"> email </i><strong>Email</strong>
          </p>
          <p>Mateusz Danieluk: danielukmateusz@gmail.com</p>
          <p>Arkadiusz Gotfryd: arekgofi@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
