<!-- END of NAV -->
<app-banner
  ><div class="col-md-12 text-center banner-text">
    <h1 class="mb-2">
      Zrealizuj listę zakupową bez wychodzenia z domu
    </h1>
    <h2 class="mb-4">
      Dodaj zakupy do listy, opublikuj ją i oczekuj dostawy
    </h2>
  </div></app-banner
>
<!-- END of banner -->
<section class="icons-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center d-flex align-self-stretch">
        <div class="media block-6 mb-4 mb-md-0 services d-flex flex-column">
          <i class="icon material-icons">
            list_alt
          </i>
          <div class="text-center w-100 mt-4">
            <h3>Listy zakupowe</h3>
            <span class="media-body-text"
              >Twórz listy zakupowe i publikuj je, aby bez wychodzenia z domu
              zrealizować potrzebne Ci zakupy.</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex align-self-stretch">
        <div class="media block-6 mb-4 mb-md-0 services d-flex flex-column">
          <i class="icon material-icons">
            shopping_cart
          </i>
          <div class="text-center w-100 mt-4">
            <h3>Dostawa</h3>
            <span class="media-body-text"
              >Wskazujesz miejsce docelowe, pod którą zostaną dostarczone Twoje
              zakupy. Rozliczasz się dopiero po sprawdzeniu, czy wszystko jest
              OK.</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex align-self-stretch">
        <div class="media block-6 mb-4 mb-md-0 services d-flex flex-column">
          <i class="icon material-icons">
            attach_money
          </i>
          <div class="text-center w-100 mt-4">
            <h3>Dodatkowy zarobek</h3>
            <span class="media-body-text"
              >Razem z ShopCo mozesz takze zostac dostawca zakupow. Realizuj
              opublikowane zamówienia i zacznij zarabiać.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
