<section class="icons-section-order">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5 text-center">
      <h2>Jeśli chcesz zamówić produkty:</h2>
    </div>
      <div class="col-md-4 text-center d-flex align-self-stretch">
        <div class="media block-6 mb-4 mb-md-0 services d-flex flex-column">
          <i class="icon material-icons">
            list_alt
          </i>
          <div class="text-center w-100 mt-4">
            <h3>Krok 1</h3>
            <span class="media-body-text"
              >Wybierz produkty i dodaj je do listy zakupów.</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex align-self-stretch">
        <div class="media block-6 mb-4 mb-md-0 services d-flex flex-column">
          <i class="icon material-icons">
            public
          </i>
          <div class="text-center w-100 mt-4">
            <h3>Krok 2</h3>
            <span class="media-body-text"
              >Opublikuj listę i podaj adres dostawy wraz z danymi do płatności. Oczekuj, kiedy ktoś zgłosi się do dostarczenia Twoich zakupów.</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex align-self-stretch">
        <div class="media block-6 mb-4 mb-md-0 services d-flex flex-column">
          <i class="icon material-icons">
            attach_money
          </i>
          <div class="text-center w-100 mt-4">
            <h3>Krok 3</h3>
            <span class="media-body-text"
              >Kiedy dostarczyciel zapuka do drzwi, sprawdź czy wszystko jest OK i podaj mu kod potwierdzający odbiór zamówienia. W ten sposób opłacisz zamówienie.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="icons-section-deliver">
  <div class="container">
    <div class="row">
        <div class="col-12 mb-5 text-center">
            <h2>Jeśli chcesz dostarczyć produkty:</h2>
          </div>
      <div class="col-md-4 text-center d-flex align-self-stretch">
        <div class="media block-6 mb-4 mb-md-0 services d-flex flex-column">
          <i class="icon material-icons">
            list_alt
          </i>
          <div class="text-center w-100 mt-4">
            <h3>Krok 1</h3>
            <span class="media-body-text"
              >Sprawdź, czy na liście z obecnymi zleceniami znajduje się ogłoszenie odpowiednie dla Ciebie.</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex align-self-stretch">
        <div class="media block-6 mb-4 mb-md-0 services d-flex flex-column">
          <i class="icon material-icons">
            shopping_cart
          </i>
          <div class="text-center w-100 mt-4">
            <h3>Krok 2</h3>
            <span class="media-body-text"
              >Zgłoś się do zlecenia. Zrób zakupy, zapłać swoją kartą i dostarcz zakupy pod wskazany adres. Dla wiarygodności radzimy zrobić zdjęcie paragonu.</span
            >
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex align-self-stretch">
        <div class="media block-6 mb-4 mb-md-0 services d-flex flex-column">
          <i class="icon material-icons">
            attach_money
          </i>
          <div class="text-center w-100 mt-4">
            <h3>Krok 3</h3>
            <span class="media-body-text"
              >Podczas spotkania ze zleceniodawcą poproś o kod dla zamówienia. Wpisz go i ciesz się z zarobionych pieniędzy.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>