@import '../../shared/variables.scss';

.user-profile{
    &:hover{
        cursor: pointer;
    }
    &:hover i{
       color:$green;
    }
}

.logout{
    &:hover{
        cursor: pointer;
        color:$green;
    }
}