<section>
  <div class="banner" [ngStyle]="{'height':height , 'background-image': 'url(' + imageUrl + ')'}">
    <div class="overlay"></div>
    <div class="container">
      <div
        [ngStyle]="{'height':height}" class=" row justify-content-center align-items-center"
      >
      <ng-content></ng-content>
        <!-- <div class="col-md-12 text-center">
          <h1 class="mb-2">
            Zrealizuj listę zakupową bez wychodzenia z domu
          </h1>
          <h2 class="mb-4">
            Dodaj zakupy do listy, opublikuj ją i oczekuj dostawy
          </h2>
        </div> -->
      </div>
    </div>
  </div>
</section>