<app-banner [height]="'300px'">
  <div class="col-md-12 text-center text-white font-weight-bold">
    <h1 class="mb-2">
      <strong>Twoje zamówienia</strong>
    </h1>
  </div>
</app-banner>
<div class="container my-5">
  <div class="row">
    <table
      mat-table
      [dataSource]="myOrders$ | async"
      class="mat-elevation-z8 w-100"
      *ngIf="(myOrders$ | async).length; else noItems"
    >
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef>Data zamówienia</th>
        <td mat-cell *matCellDef="let element">
            <span class="mobile-label">Data zamówienia:</span>
          {{ element.creationDatetime }}
        </td>
      </ng-container>

      <ng-container matColumnDef="deliveryDate">
          <th mat-header-cell *matHeaderCellDef>Data dostawy</th>
          <td mat-cell *matCellDef="let element">
              <span class="mobile-label">Data dostawy:</span>
            {{ element.deliveryDatetime }}
          </td>
        </ng-container>

      <ng-container matColumnDef="dispositionDeliveryAddress">
        <th mat-header-cell *matHeaderCellDef>Adres</th>
        <td mat-cell *matCellDef="let element">
            <span class="mobile-label">Adres:</span>
          {{ element.dispositionDeliveryAddress }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
            <span class="mobile-label">Status:</span>
          {{ element.status }}
        </td>
      </ng-container>

      <ng-container matColumnDef="totalItemsPrice">
        <th mat-header-cell *matHeaderCellDef>Koszt(zł)</th>
        <td mat-cell *matCellDef="let element">
            <span class="mobile-label">Koszt(zł):</span>
          {{ element.listOfItems.totalItemsPrice }}
        </td>
      </ng-container>

      <ng-container matColumnDef="preview">
        <th mat-header-cell *matHeaderCellDef>Podgląd listy</th>
        <td mat-cell *matCellDef="let element">
            <span class="mobile-label">Podgląd listy:</span>
          <i
            class="preview-icon material-icons"
            (click)="onPreviewIconClick(element)"
          >
            search
          </i>
        </td>
      </ng-container>

      <ng-container matColumnDef="supplier">
        <th mat-header-cell *matHeaderCellDef>Zleceniobiorca</th>
        
        <td mat-cell *matCellDef="let element">
            <span class="mobile-label">Zleceniobiorca:</span>
            <span *ngIf="element.mandatory">
                {{element.mandatory.email}}
            </span>
            <span *ngIf="!!element.mandatory">
                -
            </span>
          </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Odbiór</th>
        <td mat-cell *matCellDef="let element">
            <span class="mobile-label">Odbiór:</span><i class="material-icons receive-icon" (click)="onReceiveIconClick(element)">
            check_circle
            </i></td>
      </ng-container>

      <ng-container matColumnDef="problem">
          <th mat-header-cell *matHeaderCellDef>Zgłoś problem</th>
          <td mat-cell *matCellDef="let element"><span class="mobile-label">Zgłoś problem:</span><i class="material-icons error-icon">
              error
              </i></td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <ng-template #noItems>
      <div class="no-items-text text-center">
        Brak zleceń do wyświetlenia. Aby utworzyć zamówiennie opublikuj listę
        zakupową.
      </div>
    </ng-template>
  </div>
</div>
