th.mat-header-cell {
    text-align: center !important;
  }
  
  .cart-table-holder {
    height: 400px;
    overflow: scroll;
  }
  
  .delete-icon {
    &:hover {
      color: red;
      cursor: pointer;
    }
  }
  
  .btn-quantity{
    width:26px;
  }
  
  .img-holder{
    height: 169px;
    width: 169px;
  }
  
  .total-price-text{
    margin-right:3em;
  }
  
  .editable{
    border:none;
  }