
<app-banner [height]="'300px'">
  <div class="col-md-12 text-center text-white font-weight-bold">
    <h1 class="mb-2">
     <strong>Produkty</strong>
    </h1>
  </div>
</app-banner>

<app-filter-bar [numberOfProducts]="(productsInCart$ | async).length"></app-filter-bar>

<div class="container">
  <div class="row">

    <div class="col-md-6 col-lg-3 mt-3" *ngFor="let product of (products$ | async)">
      <app-product
        [imgSrc]="
        product.picture
        "
        [price]="product.unitPrice"
        (cartClicked)="addToList(product)"
        [isDisabled]="product.isInCart"
        (deleteClicked)="removeFromList(product)"
      >
        {{product.productName}}
      </app-product>
    </div>
  </div>
</div>
