/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/muli.font.css';
@import 'node_modules/angular2-toaster/toaster';

html,
body {
  height: 100%;
  min-height: 100%;
}
.allButFooter {
  min-height: calc(100vh - 70px);
}
footer{
  height:70px;
}
body {
  margin: 0;
  font-family: 'Hind', sans-serif !important;
}
